body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "width" 100;

    margin: 0;
    padding: 0;

    height: 100%;
}

a {
    text-decoration: none;
    color: #252525;
}

header {
    background-image: url(images/background_accueil.jpg);
    display: flex;
    align-items: center;
}

.first_section {
    background-size: cover;
    background-repeat: no-repeat;

    height: 100px;


}

.header_navigation {
    display: flex;
    gap: 20px;
    justify-content: flex-end;

    width: 100%;

}

.boutton_annonces {
    margin-top: 30px;
    width: 324px;
    height: 64px;

    background-color: #FAFAFA;
    opacity: 80%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
}

.boutton_poser_annonce {
    margin-top: 30px;
    width: 324px;
    height: 64px;

    background-color: #FAFAFA;
    opacity: 80%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
}

.profil{
    width: 92px;
    height: 92px;


    margin-right: 50px;
    margin-top: 15px;
}

.container_main{
    height: 600px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.container_formulaire{
    height: 500px;
    width: 1300px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

input{
    margin-left: 20px;
    border-radius: 30px;
    height: 30px;
}

.bouton{
    border-radius: 30px;
    width: 100px;
}

.bouton_2{
    border-radius: 30px;
    width: 100px;
}
