body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "width" 100;
    font-weight: lighter;


    margin: 0;
    padding: 0;

    height: 100%;



    background-color: #FAFAFA;
}

.first_section {

    background-image: url(images/background_accueil.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;

    width: 100%;
    height: 600px;

}

.first_section_image {

    height: 500px;
    width: 100%;
}

.first_section_texte {
    background-color: #FAFAFA;

    width: 613px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    color: #252525;
}

.texte_presentation {
    margin-left: 40px;
    font-size: 40px;
    text-transform: uppercase;

}

.boutton_poser_annonce {
    width: 324px;
    height: 64px;
    text-align: center;
    margin-left: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;

    border: solid 1.5px;
    border-radius: 30px;
}

.boutton_poser_annonce:hover {
    background-color: rgb(238, 238, 238);
}

a {
    text-decoration: none;
    color: #252525;
}

.container_annonces {
    height: 800px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

.card_annonces {
    background-color: #FAFAFA;
    height: 400px;
    width: 400px;

    margin: 20px;
    border-radius: 30px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;
    gap: 10px;

    border: solid 1.5px;

}


.titre_annonce {
    margin-left: 30px;
    font-size: 35px;


    text-transform: uppercase;

}

.prix_annonce {
    margin-left: 30px;
    font-size: 20px;

}

.description_annonces {
    margin-left: 30px;



}

.location_annonces {
    margin-left: 30px;

}

@media screen and (max-width: 1016px) {
    .first_section {
        background-image: url(images/background_accueil.jpg);
        background-size: auto;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 320px) {
    .boutton_poser_annonce {
        margin-top: 30px;

        width: 250px;
        height: 64px;
    }
}