body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "width" 100;

    margin: 0;
    padding: 0;

    height: 100%;
}

header {
    background: none;
    display: flex;
}

.first_section {
    background-image: url(images/background_accueil.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    height: 800px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.header_navigation {
    display: flex;
    gap: 20px;
    justify-content: center;

    width: 100%;

    display: flex;
    flex-wrap: wrap;

}


.boutton_poser_annonce {
    margin-top: 30px;

    width: 324px;
    height: 64px;

    background-color: #FAFAFA;
    opacity: 80%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
}

a {
    text-decoration: none;
    color: #252525;
}

.container_annonces {
    height: 800px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    background-color: #FAFAFA;
}

.card_annonces {
    background-color: #e5e5e5;
    height: 400px;
    width: 400px;

    margin: 20px;
    border-radius: 30px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;
    gap: 10px;

}


.titre_annonce {
    margin-left: 30px;
    font-size: 35px;

}

.prix_annonce {
    margin-left: 30px;
    font-size: 20px;
}

.description_annonces {
    margin-left: 30px;


}

.location_annonces {
    margin-left: 30px;

}

@media screen and (max-width: 1016px) {
    .first_section {
        background-image: url(images/background_accueil.jpg);
        background-size: auto;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 320px) {
    .boutton_poser_annonce {
        margin-top: 30px;

        width: 250px;
        height: 64px;
    }
}