body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "width" 100;

    margin: 0;
    padding: 0;

    height: 100%;
}

header {
    background: none;
    display: flex;
}

.first_section {
    background-image: url(images/background_accueil.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    height: 800px;


}

.header_navigation {
    display: flex;
    gap: 20px;
    justify-content: flex-end;

    width: 100%;



}

.recherche {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.recherche_bar {
    width: 880px;
    height: 81px;

    background-color: #D9D9D9;
}

.recherche_bar_white {
    width: 773px;
    height: 88px;

    background-color: #FAFAFA;

    margin-top: 10px;
    margin-left: 10px;

    display: flex;
    flex-direction: wrap;

}

.recherche_bar_white_container {
    width: 260px;
    height: 100%;

    border: solid 2px #252525;

}

.boutton_annonces {
    margin-top: 30px;
    width: 324px;
    height: 64px;

    background-color: #FAFAFA;
    opacity: 80%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;


}

.boutton_poser_annonce {
    margin-top: 30px;
    width: 324px;
    height: 64px;

    background-color: #FAFAFA;
    opacity: 80%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
}

a {
    text-decoration: none;
    color: #252525;
}

.profil {
    width: 92px;
    height: 92px;

    margin-right: 50px;
    margin-top: 15px;
}

.container_annonces {
    height: 800px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card_annonces {
    background-color: lightblue;
    height: 400px;
    width: 400px;

    margin: 20px;
}