body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "width" 100;
    font-weight: lighter;


    margin: 0;
    padding: 0;

    height: 100%;



    background-color: #FAFAFA;
}

.first_section {
    background-image: url(images/background_accueil.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;

    width: 100%;
    height: 700px;

}

.first_section_image {
    height: 500px;
    width: 100%;
}

.first_section_formulaire {
    background-color: #FAFAFA;

    width: 613px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;

    color: #252525;
}

.texte_presentation {
    margin-left: 40px;
    font-size: 40px;
    text-transform: uppercase;

}

.boutton_poser_annonce {
    width: 300px;
    height: 60px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;

    border: solid 1.5px;
    border-radius: 30px;
}

.boutton_poser_annonce:hover {
    background-color: rgb(238, 238, 238);
}

a {
    text-decoration: none;
    color: #252525;
}


.container_formulaire {
    height: 500px;
    width: 1300px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

input {
    border-radius: 30px;
    height: 30px;

    transition: all 0.2s ease-in-out;
    width: 250px;
    height: 30px;

    margin: 10px;

}

.bouton{
    width: 300px;
    height: 60px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: none;
    
    border: solid 1.5px;
    border-radius: 30px;

    background-color: #FAFAFA;

    cursor: pointer;
}

.bouton:hover {
background-color: rgb(238, 238, 238);
}

.selector {
    border-radius: 30px;
    width: 100px;

}

@media screen and (max-width: 1400px) {

    .container_formulaire {
        width: 1000px;
    }

}

@media screen and (max-width: 1010px) {
    .container_formulaire {
        width: 800px;
    }
}

@media screen and (max-width: 810.4px) {
    .container_formulaire {

        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;

    }
}

@media screen and (max-width: 320px) {
    .boutton_accueil {
        width: 100px;
        height: 64px;
    }
}