body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "width" 100;

    margin: 0;
    padding: 0;

    height: 100%;
}

a {
    text-decoration: none;
    color: #252525;
}


.first_section {
    background-image: url(images/background_accueil.jpg);
    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-repeat: no-repeat;

    height: 100px;


}

.boutton_accueil {
    width: 324px;
    height: 64px;

    background-color: #FAFAFA;
    opacity: 80%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
}

.container_main {
    height: 600px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.container_formulaire {
    height: 500px;
    width: 1300px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

input {
    margin-left: 20px;
    border-radius: 30px;
    height: 30px;
}

.bouton {
    border-radius: 30px;
    width: 100px;

}

.selector {
    border-radius: 30px;
    width: 100px;

}

@media screen and (max-width: 1400px) {

    .container_formulaire {
        width: 1000px;
    }

}

@media screen and (max-width: 1010px) {
    .container_formulaire {
        width: 800px;
    }
}

@media screen and (max-width: 810.4px) {
    .container_formulaire {

        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;

    }
}

@media screen and (max-width: 320px) {
    .boutton_accueil {
        width: 100px;
        height: 64px;
    }
}